<% include ../partials/header %>
<h1>Vinyl</h1>

<h2>Records</h2>

<div class="album-list">
  <% albums.forEach(function(album) { %>
  <div>
    <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
    <span><%= album.artist %></span>
  </div>
  <% }) %>
</div>

<% include ../partials/footer %>
